PORT=3000
GOOGLE_WALLET_ISSUER_ID=3388000000023211875
GOOGLE_WALLET_CLASS_ID=3388000000023211875.WalletBusinessAILoyalty
GOOGLE_SERVICE_ACCOUNT_EMAIL=wallet-business-ai@wallet-business-ai.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
DATABASE_URL=
DATABASE_SSL=false
JWT_SECRET=
